{% extends "base.html" %} 
<script
  src="https://code.jquery.com/jquery-3.7.1.js"
  integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
  crossorigin="anonymous"></script>
  
<h1>Conditions</h1>
{%block header%}
<div>
    <h3 class="float-md-start mb-0">Logged in as {{request.user.username}} </h3>
    <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="{% url 'logout' %}">Log Out</a>
    </nav>
  </div>
{%endblock%}

{% block main %}
<body>

    {% if messages %}
    <ul>
        {% for message in messages %}
          {{ message }}
        {% endfor %}
    </ul>
    {% endif %}


    {% comment %} Here we create a table with the following bootstrap utils {% endcomment %}
    <table class="table table-bordered table-hover table-sm w-75 mx-auto" >
        {% comment %} thead = table head {% endcomment %}
        <thead>
            {% comment %} tr = table row (we want 8 rows, each that matches the attributes in inspection){% endcomment %}
            <tr>
                <th scope="col">InspectionID</th>
                <th scope="col">Attribute 1</th>
                <th scope="col">Attribute 2</th>
                <th scope="col">Attribute 3</th>
                <th scope="col">Attribute 4</th>
                <th scope="col">Attribute 5</th>
                <th scope="col">Attribute 6</th>
                <th scope="col">Attribute 7</th>
            </tr>
        </thead>
        {% comment %}tbody = table body (these are the information we are reading from the database) {% endcomment %}
        <tbody>
            {% for condition in conditions %} {% comment %} for loop to look in the inspection table {% endcomment %}
            {% comment %} <tr data-href="condition"> makes every link clickable. Planning to make this so it goes to another page called "conditions" {% endcomment %}
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ condition.Attribute_1 }}</td>
                <td>{{ condition.Attribute_2 }}</td>
                <td>{{ condition.Attribute_3 }}</td>
                <td>{{ condition.Attribute_4 }}</td>
                <td>{{ condition.Attribute_5 }}</td>
                <td>{{ condition.Attribute_6 }}</td>
                <td>{{ condition.Attribute_7 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
{%endblock%}