{% extends "base.html" %} 
{% comment %} 
* Filename: condition.html
* Author: Justin Moua 
* 
* NOTES: This is the conditions page. It extends base.html. It fetches the Conditions table via a 
* foreign key which matches up with the unique key ids in the Inspection tables. 
* The row that was selected from Inspection Tables is shown alongside with all the 
* values from the Condition table that matches the foreign key.
*
*
{% endcomment %}


<script
  src="https://code.jquery.com/jquery-3.7.1.js"
  integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
  crossorigin="anonymous">
</script>
  
{%block style%}
{% comment %} Editing style block in base.html to make arrow turn to cursor. {% endcomment %}
tr[data-href]{
    cursor: pointer
}

{% comment %} ================== Custom CSS styles I made for tables starts here ============== {% endcomment %}
.myTables {
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 0.65em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.15);
    float: left; {% comment %} aligns table with class name myTables to the very left. {% endcomment %}
  }

  .myTables thead tr{
    background-color:rgb(255, 168, 8);
    color:rgb(0, 0, 0);
    font-weight: bold;

  }

  .myTables th,
  .myTables td{
    padding: 12px 15px;

  }

  .myTables tbody tr{
    border-bottom: 1px solid #dddddd;

  }
  .myTables tbody tr:nth-of-type(odd){
    background-color:rgb(255, 255, 255);
    color:rgb(0, 0, 0);
  }
  .myTables tbody tr:nth-of-type(even){
    background-color: rgb(255, 166, 0);
    color:rgb(0, 0, 0);
  }

  .myTables tbody tr:last-of-type{
    border-bottom: 2px solid #FFA500;
  }

  .tableFooterText{
    text-align: left;
    }
{% comment %} ================== Custom CSS styles I made for tables starts here ============== {% endcomment %}
{%endblock%}

{%block header%}
<div>
    <h3 class="float-md-start mb-0">Logged in as {{request.user.username}} </h3>
    <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="{% url 'inspection' %}">Go Back to Inspection Page</a>
        <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="{% url 'logout' %}">Log Out</a>
    </nav>
  </div>
{%endblock%}

{% block main %}
<body>
    <p>Conditions</p>

    {% if messages %}
    <ul>
        {% for message in messages %}
          {{ message }}
        {% endfor %}
    </ul>
    {% endif %}


    {% comment %} 
    ======================================INSPECTOINS TABLE=====================
    Here we create a table with the following bootstrap utils 
    {% endcomment %}
    <div class="table-responsive"> {% comment %} table-responsive is a bootstrap util that allows for scrollable tables. https://getbootstrap.com/docs/4.0/content/tables/ {%endcomment%}
    <table class="myTables table-bordered table-hover table-sm w-75 mx-auto">
        {% comment %} thead = table head {% endcomment %}
        <thead>
            {% comment %} tr = table row (we want 8 rows, each that matches the attributes in inspection){% endcomment %}
            <tr>
                <th scope="col">InspectionID</th>
                <th scope="col">Attribute 1</th>
                <th scope="col">Attribute 2</th>
                <th scope="col">Attribute 3</th>
                <th scope="col">Attribute 4</th>
                <th scope="col">Attribute 5</th>
                <th scope="col">Attribute 6</th>
                <th scope="col">Attribute 7</th>
            </tr>
        </thead>
        {% comment %}tbody = table body (these are the information we are reading from the database) {% endcomment %}
        <tbody>
            <tr> {% comment %} makes every link clickable. Goes to page "conditions" when clicked{% endcomment %}
                {% for inspection in inspections %} 
                <td>{{ inspection.id }}</td>
                <td>{{ inspection.Attribute_1 }}</td>
                <td>{{ inspection.Attribute_2 }}</td>
                <td>{{ inspection.Attribute_3 }}</td>
                <td>{{ inspection.Attribute_4 }}</td>
                <td>{{ inspection.Attribute_5 }}</td>
                <td>{{ inspection.Attribute_6 }}</td>
                <td>{{ inspection.Attribute_7 }}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    </div>
    <p class = "tableFooterText">
        Inspection: 
        {%for inspection in inspections%}
        {{inspection.id}}
        {%endfor%}
    </p>

    

    {% comment %} 
    ======================================CONDITIONS TABLE=====================
    Here we create a table with the following bootstrap utils 
    {% endcomment %}
    <div class="table-responsive">
    <table class="myTables table-bordered table-hover table-sm w-75 mx-auto" >
        {% comment %} thead = table head {% endcomment %}
        <thead>
            {% comment %} tr = table row (we want 8 rows, each that matches the attributes in inspection){% endcomment %}
            <tr>
                <th scope="col">ConditionID</th>
                <th scope="col">Attribute 1</th>
                <th scope="col">Attribute 2</th>
                <th scope="col">Attribute 3</th>
                <th scope="col">Attribute 4</th>
                <th scope="col">Attribute 5</th>
                <th scope="col">Attribute 6</th>
                <th scope="col">Attribute 7</th>
            </tr>
        </thead>
        {% comment %}tbody = table body (these are the information we are reading from the database) {% endcomment %}
        <tbody>
            {% for condition in conditions %} {% comment %} for loop to look in the inspection table {% endcomment %}
            {% comment %} <tr data-href="condition"> makes every link clickable. Planning to make this so it goes to another page called "conditions" {% endcomment %}
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ condition.Attribute_1 }}</td>
                <td>{{ condition.Attribute_2 }}</td>
                <td>{{ condition.Attribute_3 }}</td>
                <td>{{ condition.Attribute_4 }}</td>
                <td>{{ condition.Attribute_5 }}</td>
                <td>{{ condition.Attribute_6 }}</td>
                <td>{{ condition.Attribute_7 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    <p class = "tableFooterText">
        Conditions for Inspection: 
        {%for inspection in inspections%}
        {{inspection.id}}
        {%endfor%}
    </p>
</body>
{%endblock%}