{% extends "base.html" %}
{% comment %} 
* Filename: inspection.html
* Author: Justin Moua
* 
* NOTES:
* This is the "homepage" where the user can see a list of the entire inspection table.
*
*
{% endcomment %}


<script
  src="https://code.jquery.com/jquery-3.7.1.js"
  integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
  crossorigin="anonymous">
</script>

{%block style%}
{% comment %} Editing style block in base.html to make arrow turn to cursor. {% endcomment %}
tr[data-href]{
    cursor: pointer
}

.inspectionTable {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.85em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.15);

}

.inspectionTable thead tr{
    background-color:rgb(255, 166, 0);
    color:rgb(0, 0, 0);
    font-weight: bold;

}

.inspectionTable th,
.inspectionTable td{
    padding: 12px 15px;

}

.inspectionTable tbody tr{
    border-bottom: 1px solid #dddddd;

}
.inspectionTable tbody tr:nth-of-type(odd){
    background-color:rgb(255, 255, 255);
    color:rgb(0, 0, 0);
}
.inspectionTable tbody tr:nth-of-type(even){
    background-color: rgb(255, 201, 102);
    color:rgb(0, 0, 0);
}

.inspectionTable tbody tr:last-of-type{
    border-bottom: 2px solid #FFA500;
}


.inspectionTable tr[data-href]:hover {
    background-color:rgb(143, 115, 115);
}
.inspectionTable td {
    font-size: 10px;
}

.inspectionTable th[scope="col"] {
    font-size: 15px;
}

.inspectionText{
    text-align: left;
}
{%endblock%}

{% block header %} 
<div>
    {% comment %} Display the username of whoever is logged in. {% endcomment %}
    <h3 class="float-md-start mb-0">    
    
    {%comment%}
    Checks if user is actually logged in (via authentication) 
    https://docs.djangoproject.com/en/5.2/topics/auth/default/#authentication-in-web-requests
    {%endcomment%}
    {% if request.user.is_authenticated %} 
        Logged in as {{ request.user.username }}
    {% else %}
        Not logged in
    {% endif %}</h3>
    <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" href="{% url 'logout' %}">Log Out</a>
    </nav>
  </div>
{% endblock %}

{% block main %}
{% comment %} Editing main dom {% endcomment %}

<body>
    <h1> Homepage </h1>
    <div class="table-responsive">
    {% comment %} Here we create a table with the following bootstrap utils {% endcomment %}
    <table class="inspectionTable table-bordered table-hover table-sm w-75 mx-auto">
        {% comment %} thead = table head {% endcomment %}
        <thead>
            {% comment %} tr = table row (we want 8 rows, each that matches the attributes in inspection){% endcomment %}
            <tr>
                <th scope="col">InspectionID</th>
                <th scope="col">Attribute 1</th>
                <th scope="col">Attribute 2</th>
                <th scope="col">Attribute 3</th>
                <th scope="col">Attribute 4</th>
                <th scope="col">Attribute 5</th>
                <th scope="col">Attribute 6</th>
                <th scope="col">Attribute 7</th>
            </tr>
        </thead>
        {% comment %}tbody = table body (these are the information we are reading from the database) {% endcomment %}
        <tbody>
            {% for inspection in inspections %} {% comment %} for loop to look in the inspection table {% endcomment %}
            <tr data-href="{% url 'conditionView' inspection.id %}"> {% comment %} makes every link clickable. Goes to page "conditions" when clicked{% endcomment %}
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ inspection.Attribute_1 }}</td>
                <td>{{ inspection.Attribute_2 }}</td>
                <td>{{ inspection.Attribute_3 }}</td>
                <td>{{ inspection.Attribute_4 }}</td>
                <td>{{ inspection.Attribute_5 }}</td>
                <td>{{ inspection.Attribute_6 }}</td>
                <td>{{ inspection.Attribute_7 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    <p class="inspectionText">inspections</p>
    <script> 
        //script dom that listens to when you click. This guide was helpful https://youtu.be/6BdKUO2QbA0?si=LTHoDT5UAAmZ4FBc 
        //Need to use jquery to fetch the data

        //addEventListener https://developer.mozilla.org/en-US/docs/Web/API/EventTarget/addEventListener
        document.addEventListener("DOMContentLoaded", () => {
            const rows = document.querySelectorAll("tr[data-href]");
            console.log(rows);

            rows.forEach(row=>{
                row.addEventListener("click", () =>{
                    window.location.href = row.dataset.href;
                });
            });
        });
    </script>
</body>
{% endblock %}

{%block footer%}
{%endblock%}