{% extends "base.html" %}
<script
  src="https://code.jquery.com/jquery-3.7.1.js"
  integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
  crossorigin="anonymous"></script>

{% block header %}
<div>
    <h3 class="float-md-start mb-0">Justin Moua</h3>
</div>
{% endblock %}

{%block style%}
{% comment %} Editing style block in base.html to make arrow turn to cursor. {% endcomment %}
tr[data-href]{
    cursor: pointer
}
{%endblock%}

{% block main %}
{% comment %} Editing main dom {% endcomment %}

<body>
    {% comment %} Here we create a table with the following bootstrap utils {% endcomment %}
    <table class="table table-bordered table-hover table-sm w-75 mx-auto" >
        {% comment %} thead = table head {% endcomment %}
        <thead>
            {% comment %} tr = table row (we want 8 rows, each that matches the attributes in inspection){% endcomment %}
            <tr>
                <th scope="col">InspectionID</th>
                <th scope="col">Attribute 1</th>
                <th scope="col">Attribute 2</th>
                <th scope="col">Attribute 3</th>
                <th scope="col">Attribute 4</th>
                <th scope="col">Attribute 5</th>
                <th scope="col">Attribute 6</th>
                <th scope="col">Attribute 7</th>
            </tr>
        </thead>
        {% comment %}tbody = table body (these are the information we are reading from the database) {% endcomment %}
        <tbody>
            {% for inspection in inspections %} {% comment %} for loop to look in the inspection table {% endcomment %}
            <tr data-href="condition"> {% comment %} makes every link clickable. Planning to make this so it goes to another page called "conditions" {% endcomment %}
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ inspection.Attribute_1 }}</td>
                <td>{{ inspection.Attribute_2 }}</td>
                <td>{{ inspection.Attribute_3 }}</td>
                <td>{{ inspection.Attribute_4 }}</td>
                <td>{{ inspection.Attribute_5 }}</td>
                <td>{{ inspection.Attribute_6 }}</td>
                <td>{{ inspection.Attribute_7 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script> 
        //script dom that listens to when you click. This guide was helpful https://youtu.be/6BdKUO2QbA0?si=LTHoDT5UAAmZ4FBc 
        //Need to use jquery to fetch the data
        document.addEventListener("DOMContentLoaded", () => {
            const rows = document.querySelectorAll("tr[data-href]");
            //console.log(rows);

            rows.forEach(row=>{
                row.addEventListener("click", () =>{
                    window.location.href = row.dataset.href;
                });
            });
        });

        $(function (){
            $(document).on("click", "tr[data-href]", function() {
                var id = $(this).closest('tr').attr('id');
                console.log("id is:"+id);
              });
        });
    </script>
</body>
{% endblock %}